
<div class="container">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1551024709-8f23befc6f87?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1725&q=80);">
    <h1 class="title"><strong>Cocktails</strong></h1>
    <p class="side">The most popular coktails!</p>
      <button class="button" id="center"> <%= link_to "Add new Cocktail!", new_cocktail_path %></button>
  </div>
  <div class="row no-gutters">
    <% @cocktails.each do |cocktail|%>
      <div class="col-4">
        <div class="cocktail-card">
          <%= cl_image_tag @article.photo.key, height: 300, width: 400, crop: :fill %>
          <img src="https://images.unsplash.com/photo-1481671703460-040cb8a2d909?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="">
          <div class="cocktail-card-details">
            <h3> <%= cocktail.name %> </h3>
            <p><%= link_to "More details", cocktail_path(cocktail), class: "btn btn-primary" %></p>
          </div>
        </div>
      </div>
    <% end%>
  </div>
</div>
