#new_cocktail {
  margin: 0 auto;
  width: 300px;
}

.pink {
 background-color: #FEDC97;
 color: black;
}

#new_review {
  margin: 0 auto;
  width: 300px;

}

.center {
  text-align: center;
  font-size: 32px;
}
